.main-cars {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.img-cars {
    text-align: center;
    box-shadow: 0 0.375rem 1.0625rem 0 rgba(0, 0, 0, 0.555);
    background-color: #fff;
    overflow: hidden;
    transition: all .4s ease;
    background-color: #fff;
    margin: 10px;
    width: 300px;
    height: 110px;
    overflow: hidden;
    transition: all .4s ease;
}

.img-cars:hover {
    transform: scale(1.1);
}