.form.profile {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}